body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

/* Add circular header styles */
.circular-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px; /* adjust the width to fit your title */
  height: 270px; /* adjust the height to fit your title */
  border-radius: 50%; /* create a circular shape */
  background-color: #eaeaea; /* set the background color of the header */
  margin: 0 auto; /* center the header horizontally */
  margin-top: 20px; /* adjust the margin-top as needed */
}

.circular-header h1 {
  text-align: center;
}

.dark-mode-toggle {
  position: relative;
  margin-left: 10px;
}

.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle label {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.dark-mode-toggle label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 1.5s ease;
}

.dark-mode-toggle input:checked + label {
  background-color: #2d2d2d;
}

.dark-mode-toggle input:checked + label:before {
  transform: translateX(20px);
}

.row {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.row:last-child {
  border-bottom: none;
}

#coin-pagination,
#exchange-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  cursor: pointer;
}

/* Add styles for dark mode */

/* Styles for the dark mode toggle switch */
.dark-mode-toggle input[type="checkbox"]:checked + label:before {
  transform: translateX(20px);
  background-color: #fff;
}

/* Dark mode styles for the entire page */
body.dark-mode {
  background-color: #2d2d2d; /* Background color of the page in dark mode */
  color: #fff; /* Text color in dark mode */
}

/* Dark mode styles for the header */
.dark-mode .circular-header {
  background-color: #343a40; /* Background color of the header in dark mode */
}

/* Dark mode styles for the navbar */
.dark-mode .navbar {
  background-color: #343a40 !important; /* Background color of the navbar in dark mode */
}

/* Dark mode styles for the navbar brand */
.dark-mode .navbar .navbar-brand {
  color: #fff !important; /* Text color of the navbar brand in dark mode */
  text-align: center; /* Center align the navbar brand */
}

/* Dark mode styles for the navbar links */
.dark-mode .navbar .navbar-nav .nav-link {
  color: #fff !important; /* Text color of the navbar links in dark mode */
  text-align: center; /* Center align the navbar links */
}

/* Dark mode styles for the navbar toggler button */
.dark-mode .navbar-toggler {
  background-color: #343a40 !important; /* Background color of the navbar toggler button in dark mode */
  border-color: #fff !important; /* Border color of the navbar toggler button in dark mode */
}

/* Dark mode styles for the navbar toggler icon */
.dark-mode .navbar-toggler-icon {
  filter: invert(1); /* Invert the color of the navbar toggler icon in dark mode */
}

/* Modified styles for the primary buttons */
.btn-primary {
  background-color: #fff;
  color: #000;
  border-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow to the buttons */
}

.btn-primary:hover {
  background-color: #212529;
  color: #fff;
  border-color: #000;
}

/* Dark mode styles for the primary buttons */
.dark-mode .btn-primary {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #fff !important;
}

/* Dark mode styles for the primary button on hover */
.dark-mode .btn-primary:hover {
  background-color: #212529 !important;
  color: #fff !important;
  border-color: #fff !important;
}

/* Dark mode styles for table rows */
.dark-mode .row {
  border-bottom-color: #888; /* Border color of the table rows in dark mode */
}

/* Dark mode styles for the last table row */
.dark-mode .row:last-child {
  border-bottom-color: #ddd; /* Border color of the last table row in dark mode */
}

/* Dark mode styles for column text */
.dark-mode .col {
  color: #fff; /* Text color of the columns in dark mode */
}

/* Additional styles for the navigation bar */
.navbar {
  background-color: #d6d6d6 !important; /* nav bar background color --------------------------------------------------------*/
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}

.navbar-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  display: inline-block;
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  border-radius: 25px;
  padding: 5px 10px;
}

/* Styles for the navbar links in normal mode */
.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  background-color: #fff !important; /* Set the background color of the button to black */
  color: #000 !important; /* Set the text color of the button to white */
  border-color: #d6d6d6 !important; /* Set the border color of the button to light gray and override Bootstrap's default styles */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important; /* Add shadow to the buttons */
}

.navbar .nav-link:hover {
  background-color: #1d1d1b !important; /* Set the background color of the button on hover and override Bootstrap's default styles */
  color: #fff !important; /* Set the text color of the button on hover and override Bootstrap's default styles */
  border-color: #1d1d1b !important; /* Set the border color of the button to dark gray on hover and override Bootstrap's default styles */
}

/* Styles for the navbar links in dark mode */
.dark-mode .navbar .nav-link,
.dark-mode .navbar .nav-link:focus,
.dark-mode .navbar .nav-link:active {
  background-color: #1d1d1b !important; /* Set the background color of the button to dark gray in dark mode */
  color: #fff !important; /* Set the text color of the button to white in dark mode */
  border-color: #888 !important; /* Set the border color of the button to gray in dark mode and override Bootstrap's default styles */
}

.dark-mode .navbar .nav-link:hover {
  background-color: #000 !important; /* Set the background color of the button on hover in dark mode and override Bootstrap's default styles */
  color: #fff !important; /* Set the text color of the button on hover in dark mode and override Bootstrap's default styles */
  border-color: #888 !important; /* Set the border color of the button to gray on hover in dark mode and override Bootstrap's default styles */
}
